[submodule "droid-extras"]
	path = droid-extras
	url = https://android.googlesource.com/platform/system/extras
[submodule "droid-core"]
	path = droid-core
	url = git://codeaurora.org/quic/la/platform/system/core
